<!DOCTYPE html>
<html>
<head>
    <title>Cryptography in Cybersecurity</title>
    <link rel="stylesheet" href="/CSS/mainpage.css">
</head>
<body>
    <h1 class="main-title">Cryptography in Cybersecurity</h1>

    <section>
        <h2 class="section-title">About Crypto</h2>
        <div class="security-question">Wanna be secure? 🔒</div>
        <div class="button-container">
            <button class="choice-button" onclick="navigateTo('explain.ejs')" style="background-color: #4CAF50">✅</button>
            <button class="choice-button" onclick="navigateTo('games.ejs')" style="background-color: #f44336">❌</button>
        </div>
    </section>

    <section>
        <h2 class="section-title">Cryptographic Techniques</h2>
        <div class="content-section">
            <h2 class="section-title" style="font-size:25px">✨ Available Options</h2>
            <div class="options-container">
                <a href="detail.ejs" class="clickable-option">
                    <span class="emoji">🔍</span>
                    Learn More
                </a>
                <a href="technique.ejs" class="clickable-option">
                    <span class="emoji">🎮</span>
                    Check How Strong Your Name Is
                </a>
            </div>
        </div>
    </section>

    <section>
        <h2 class="section-title">Games</h2>
        <p>Coming soon...</p>
    </section>

    <script src="/JS/mainpage.js"></script>
</body>
</html>
